<nav>
	<ul>
		<li><%= link_to('Home', root_path) %></li>
		<li>About</li>
		<li>Pricing</li>
		<li>Blog</li>
		<% if current_page?(root_path) || current_page?(login_path) %>
			<li><%= link_to "Login", login_path %></li>
		<% end %>
	</ul>
</nav>