<% if current_user.admin != 3 %>
	<h1>Lecturer</h1>
	<%= render 'table_course' %>
<% end %>

<% if current_user.admin != 2 %>
	<h1>Admin</h1>
	<%= render 'table_course' %>
	<br />
	<%= button_to 'Show All Users', users_index_path, :method => :get %>
<% end %>